.ProductoInfo
{
    border: 1px;
    background-color: rgb(240,255,240);
    padding: 10px;
    transition: 0.1s;
}
.ProductoInfo:hover
{
    border-radius: 5px;
    background-color: rgba(220, 235, 220);
}
