.Collapsible {
    background-color: rgba(182, 214, 204);
    border-radius: 5px;
  }
  
.Collapsible__contentInner {
    padding: 10px;
    border: 1px solid lightGrey;
    border-top: 0;
}

p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
  
.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    border: 1px solid #3880ff;
    padding: 10px;
    background: #3880ff;
    color: white;
    border-radius: 5px;
}